<app-navbar></app-navbar>

<div *ngIf="auth.isAuthorized && messages?.length > 0" class="container">
  <h1>Messages:</h1>
  <div *ngFor="let message of messages" class="list-group message-list">
    <div class="list-item" class="list-group-item">
      <strong>{{message.userName}}: </strong>{{message.message}}
    </div>
  </div>
  <app-send-message></app-send-message>
</div>

<div *ngIf="auth.isAuthorized && messages?.length <= 0">
  <h3>There are no messages to display.</h3>
</div>

<div *ngIf="!auth.isAuthorized">
  <h3>Please log in.</h3>
  <button class="btn btn-info" (click)="authFacebook()">Log in with facebook.</button>
</div>